####Một số ví dụ với print

######1.Định dạng cơ bản

In [1]:
# default arguments
print("Hello {}, your balance is {}.".format("Adam", 230.2346))

# positional arguments
print("Hello {0}, your balance is {1}.".format("Adam", 230.2346))

# keyword arguments
print("Hello {name}, your balance is {blc}.".format(name="Adam", blc=230.2346))

# mixed arguments
print("Hello {0}, your balance is {blc}.".format("Adam", blc=230.2346))

Hello Adam, your balance is 230.2346.
Hello Adam, your balance is 230.2346.
Hello Adam, your balance is 230.2346.
Hello Adam, your balance is 230.2346.

######2.Định dạng số đơn giản

In [2]:
# integer arguments
print("The number is:{:d}".format(123))

# float arguments
# Định dạng f sẽ lấy 6 chữ số thập phân 
print("The float number is:{:f}".format(123.4567898))

# octal, binary and hexadecimal format
print("bin: {0:b}, oct: {0:o}, hex: {0:x}".format(12))

The number is:123
The float number is:123.456790
bin: 1100, oct: 14, hex: c

######3.Định dạng có quy cách

In [4]:
# giới hạn 5 chữ số nguyên 
print("{:5d}".format(12))

# định dạng số nguyên nhỏ hơn giá trị thực của nó, dẫn đến việc định dạng vô nghĩa
print("{:2d}".format(1234))

# lấy 8 ký tự (tính cả dâu .), trong đó phần thực chiếm 3 ký tự 
print("{:8.3f}".format(12.2346))

# integer numbers with minimum width filled with zeros
print("{:05d}".format(12))

# padding for float numbers filled with zeros
print("{:08.3f}".format(12.2346))

   12
1234
  12.235
00012
0012.235

######4.Định dạng số có dấu

In [5]:
# show the + sign
print("{:+f} {:+f}".format(12.23, -12.23))

# show the - sign only
print("{:-f} {:-f}".format(12.23, -12.23))

# show space for + sign
print("{: f} {: f}".format(12.23, -12.23))

+12.230000 -12.230000
12.230000 -12.230000
 12.230000 -12.230000

######5.Định dạng có căn chỉnh

In [6]:
# integer numbers with right alignment
print("{:5d}".format(12))

# float numbers with center alignment
print("{:^10.3f}".format(12.2346))

# integer left alignment filled with zeros
print("{:<05d}".format(12))

# float numbers with center alignment
print("{:=8.3f}".format(-12.2346))

   12
  12.235
12000
- 12.235

######6.Định dạng có căn chỉnh với chuỗi

In [7]:
# string padding with left alignment
print("{:5}".format("cat"))

# string padding with right alignment
print("{:>5}".format("cat"))

# string padding with center alignment
print("{:^5}".format("cat"))

# string padding with center alignment
# and '*' padding character
print("{:*^5}".format("cat"))

cat
  cat
 cat
*cat*

######7.Định dạng cho một đối tượng

In [12]:
# define Person class
class Person:
    age = 23
    name = "Adam"

# format age
print("{p.name}'s age is: {p.age}".format(p=Person()))

Adam's age is: 23

######8.Định dạng 1 dictionary

In [14]:
# define Person dictionary
person = {'age': 23, 'name': 'Adam'}

# format age
print("{p[name]}'s age is: {p[age]}".format(p=person))

Adam's age is: 23

In [25]:
# define Person dictionary
# Sử dụng cấu trúc format(**mapping)
# ** ở đây được hiểu là có 2 trường dữ liệu trong dic, là key và value
person = {'age': 23, 'name': 'Adam'}

# format age
print("{name}'s age is: {age}, {age}".format(**person))

Adam's age is: 23, 23

######9.Đối số dưới dạng format

In [26]:
# dynamic string format template
string = "{:{fill}{align}{width}}"

# passing format codes as arguments
print(string.format('cat', fill='*', align='^', width=5))

# dynamic float format template
num = "{:{align}{width}.{precision}f}"

# passing format codes as arguments
print(num.format(123.236, align='<', width=8, precision=2))

*cat*
123.24

######10.Định dạng date time

In [29]:
import datetime
# datetime formatting
date = datetime.datetime.now()
print("It's now: {:%Y/%m/%d %H:%M:%S}".format(date))

# complex number formatting
complexNumber = 1+2j
print("Real part: {0.real} and Imaginary part: {0.imag}".format(complexNumber))

# custom __format__() method
class Person:
    def __format__(self, format):
        if(format == 'age'):
            return '23'
        return 'None'

print("Adam's age is: {:age}".format(Person()))

It's now: 2023/02/27 14:09:23
Real part: 1.0 and Imaginary part: 2.0
Adam's age is: 23

######10. __str()__ và __repr()__ viết tắt !r và !s sử dụng format()

In [30]:
# __str__() and __repr__() shorthand !r and !s
print("Quotes: {0!r}, Without Quotes: {0!s}".format("cat"))

# __str__() and __repr__() implementation for class
class Person:
    def __str__(self):
        return "STR"
    def __repr__(self):
        return "REPR"

print("repr: {p!r}, str: {p!s}".format(p=Person()))

Quotes: 'cat', Without Quotes: cat
repr: REPR, str: STR